extends layout

block content
  h1= title
  p Welcome to #{title}
  div
    if user
      div
        a(href="/logout") #{user.username} をログアウト
      div
        a(href="/schedules/new") 予定を作る
      - var hasSchedule = schedules.length > 0
      if hasSchedule
        h3 あなたの作った予定一覧
        table.table
          tr
            th 予定名
            th 更新日時
          each schedule in schedules
            tr
              td
                a(href=`/schedules/${schedule.scheduleId}`) #{schedule.scheduleName}
              td #{schedule.updatedAt}
    else
      div
        a(href="/login") ログイン
